<% layout('layouts/boilerplate') %>
<div class="row vh-100 d-flex justify-content-center align-items-center">
  <div class="col-6">
    <section class="border rounded shadow-lg p-3">
      <h1 class="text-center">Irish Anki</h1>
      <div class="d-grid d-flex align-items-center justify-content-center">
        <a class="btn btn-lg btn-block text-uppercase btn-outline" href="/auth/google">
          <img src="https://img.icons8.com/color/16/000000/google-logo.png" /> Login with Google
        </a>
      </div>
    </section>
  </div>
</div>
