:root {
  --gold: #a58c47;
  --green: #2e5f3d;
}
html {
  font-size: 10px;
}
@media (max-width: 425px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 1442px) {
  html {
    font-size: 23px;
  }
}

.page-background {
  background-image: url('https://i.imgur.com/cAekhtv.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Courier New', Courier, monospace;
}
.navbar {
  background: transparent;
}
h1 {
  color: var(--gold);
  font-weight: 500;
  font-size: 2.8rem;
}
p {
  color: aliceblue;
  width: 75%;
  font-size: 1.3rem;
}
@media (max-width: 992px) {
  p {
    width: 85%;
  }
}
.nav-link {
  color: antiquewhite;
  font-weight: 400;
}
.navbar-brand {
  color: antiquewhite;
  font-size: 2rem;
}
.btn-primary {
  background-color: var(--gold);
  border-color: white;
}
.btn-primary:hover {
  background-color: var(--gold);
}
